body {
  background-color: rgb(183, 252, 252);
}

#happy{

  margin: 50px;
  color: blue;
  font-size: 25px;
  
}

.sonwman {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100px;
    margin: auto;
    position: relative;
    box-shadow: 30px 0,
    15px 25px orange,

    1px 45px 0 -3px,
    7px 50px 0 -3px,
    15px 51px 0 -3px, 
    23px 50px 0 -3px, 
    29px 45px 0 -3px ,

    15px 110px 0 -2px,
    15px 140px 0 -2px, 
    15px 170px 0 -2px, 

    15px 30px 0 50px white,
    15px 30px 10px 50px black, 
    15px 150px 0 80px white, 
    15px 150px 10px 80px black, 
    0 700px 0 500px #9e5e19;
} 
